body{
   background-image: url(cit.jpg);
    background-size:120% 150%;
    background-position: right;
    background-blend-mode: overlay  ;
    background-color: hsl(0, 0%, 5%);
    background-attachment:fixed;
    color:white;
}
.login{
  width: 280px;
  background-color: lack;
  height: 200px;
  position: absolute;
  top:60%
  left:50%;
  transform: translate(+190%,+70%);
}
.login h1{
  float: let;
  font-size:40px;
  border-bottom: 5px solid white;
}
.textbox{
  overflow: hidden;
  width: 100%;
  padding:10px;
  margin:10px -4;
  border-bottom: 2px solid white;
}
.password{
  overflow: hidden;
  width: 100%;
  padding:10px;
  margin:  10px -4;
  border-bottom: 2px solid white;
}
